html, body, #viewDiv {
      font-family: Arial;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
}
#text {
      color: rgb(38, 44, 44);
      font-size: 1.1em;
      font-weight: 500;  
      width: 50%;
      line-height: 1.5;
      padding: 10px;
      margin: auto;      
      border: 1px solid rgb(102, 102, 102);
}