html, body, #viewDiv {
      font-family: Arial;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
}
#text {
      width: 50%;
      padding: 20px;
      margin: auto;      
      border: 1px solid black;
}
