html, body {
      font-family: Helvetica; 
      font-size: 1.05em;
      height: 100%;
      margin: 0;
      overflow: hidden;
      padding: 0;
}

#button {
    float: right;
    background-color: rgb(180, 179, 179);
    color: rgb(68, 64, 64);
    border-radius: 2px;
    border: none;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

#button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
#button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
#button:hover span {
    padding-right: 25px;
  }
  
#button:hover span:after {
    opacity: 1;
    right: 0;
}

#button:focus{
    outline:0;
}

#viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
}

#paneDiv {
      position: absolute;
      width: 20%;
      top: 10px;
      left: 65px;
      padding: 0 12px 0 12px;
      background-color: rgba(255, 255, 255, 0.7);
      color: rgb(80, 77, 77);
    }

#sidePane {
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    position: absolute;
    padding: 0 12px 0 12px;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(80, 77, 77);
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s ease;
}

#title {
    text-align: center;
}

#chart {
    width: 100%;
    height: 105%;
    text-align: right;
    padding: 3px;
    margin: 1px;
}

  